.idea
.vscode
*.pyc
*.npz
.DS_Store
._.DS_Store
*.egg-info
.pytest_cache/*
build/
dist/
tmp_weights/
tmp_weights_DELETE/
store/
unittest_prediction
unittest_prediction_fast
unittest_prediction_roi_subset
unittest_prediction.nii.gz
unittest_prediction_fast.nii.gz
unittest_prediction_fast_body_seg.nii.gz
unittest_prediction_fast_force_split.nii.gz

*.tfstate
*.tfstate.backup
*.plan
.terraform/
*.pem