.idea
.vscode
*.pyc
*.npz
.DS_Store
*.egg-info
.pytest_cache/*
build/
dist/
tmp_weights/
tmp_weights_DELETE/
store/
unittest_prediction
unittest_prediction_fast

*.tfstate
*.tfstate.backup
*.plan
.terraform/
*.pem
