# Can delete this when checked that dockerfile working without it
# numpy
# psutil
# nibabel
# tqdm
# p_tqdm
# xvfbwrapper
# fury
# batchgenerators==0.21 
# git+https://github.com/wasserth/nnUNet_cust@working_2022_03_18#egg=nnUNet
